  .carousel-cell {
    width: 36%;
    height: 300px;
    margin-right: 36px;
    background: var(--cor-fundo-section-profissional);
    border-radius: 5px;
    counter-increment: gallery-cell;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img_carousel{
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }
  .carousel_card{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .carousel_img{
    width: 200px;
  }
  
 @media (max-width: 900px){
  .carousel-cell{
    width: 70%;
  }
 }
  