header {
    background: rgb(212,228,254);
    background: -moz-linear-gradient(90deg, rgba(212,228,254,1) 12%, rgba(213,229,254,1) 50%, rgba(211,243,224,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(212,228,254,1) 12%, rgba(213,229,254,1) 50%, rgba(211,243,224,1) 100%);
    background: linear-gradient(90deg, rgba(212,228,254,1) 12%, rgba(213,229,254,1) 50%, rgba(211,243,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4e4fe",endColorstr="#d3f3e0",GradientType=1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 590px;
}
nav{
    grid-row-start: 1;
    grid-column: 2/12;
}
hgroup{
    grid-row-start: 3;
    grid-column: 2/8;
}
.texto_clientes{
    margin-top: 24px;
}
.btn{
    display: flex;
    height: 50px;
    width: 180px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-botao);
    color: white;
    font-family: var(--texto);
    margin-top: 24px;
    border-radius: 8px;
    font-weight: 700;
}
.img_principal{
    grid-row: 2/6;
    grid-column: 8/11;
}

@media (max-width: 900px){
    header{
        display: flex;
        flex-direction: column;
        padding: 24px;
        height: auto;
    }
    .img_principal{
        width: 300px;
        height: auto;
        align-self: center;
    }
}