.titulo_principal{
    font-family: var(--texto);
    font-size: 48px;
    font-weight: 700;
}
.titulo_sub_titulo{
    font-family: var(--texto);
    font-size: 20px;
    font-weight: 900;
}
.texto{
    font-family: var(--texto);
    font-size: 18px;
    font-weight: 400;
}
.card{
    width: 300px;
    height: 200px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-shadow:
    0px 0.8px 0.8px -10px rgba(0, 0, 0, 0.085),
    0px 1.7px 1.7px -10px rgba(0, 0, 0, 0.125),
    0px 2.7px 2.9px -10px rgba(0, 0, 0, 0.153),
    0px 4px 4.4px -10px rgba(0, 0, 0, 0.178),
    0px 5.6px 6.5px -10px rgba(0, 0, 0, 0.202),
    0px 7.9px 9.6px -10px rgba(0, 0, 0, 0.227),
    0px 11.3px 14.4px -10px rgba(0, 0, 0, 0.255),
    0px 17.4px 22.9px -10px rgba(0, 0, 0, 0.295),
    0px 32px 43px -10px rgba(0, 0, 0, 0.38);
    gap: 8px;
    background-color: white;
}
.center{
    text-align: center;
}
.espaço{
    margin-bottom: 16px;
}
.sub_texto{
    font-family: var(--texto);
    font-size: 18px;
    font-weight: 300;    
}
.justificado{
    text-align: justify;
}
.tamanho{
    font-size: 20px;
}
.branco{
    color: white;
}
.textoFooterTitulo{
    font-family: var(--texto);
    color: white;
    font-weight: 900;
    font-size: 18px;
}
.textoFooter{
    font-family: var(--texto);
    font-weight: 400;
    color: white;
    font-size: 18px;
}
.titulo_logo{
    font-family: var(--texto-logo);
    font-size: 24px;
}
.titulo_logo_footer{
    font-family: var(--texto-logo);
    color: white;
    font-size: 24px;
}